.navbar{

        position: center;
        padding-bottom: 50px;
        overflow: hidden;
        background-color: #333;
        z-index: 1;
        display: flex;
        
}
.navbar button{
  float: left;
  display: block;
  color: rgb(244, 88, 88);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar button:hover {
    background-color: #ddd;
    color: black;
  }/* Add app component styles and tests */
